<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundle</key>
	<dict>
		<key>AKDeviceUnlockState</key>
		<true/>
		<key>AKLastCheckInAttemptDate</key>
		<date>2018-11-06T06:17:50Z</date>
		<key>AKLastCheckInSuccessDate</key>
		<date>2018-11-06T06:17:51Z</date>
		<key>AKLastEmailListRequestDateKey</key>
		<date>2018-11-05T17:15:27Z</date>
		<key>AKLastIDMSEnvironment</key>
		<integer>0</integer>
		<key>AddingEmojiKeybordHandled</key>
		<true/>
		<key>AppleICUForce24HourTime</key>
		<true/>
		<key>AppleITunesStoreItemKinds</key>
		<array>
			<string>podcast</string>
			<string>artist</string>
			<string>itunes-u</string>
			<string>booklet</string>
			<string>document</string>
			<string>movie</string>
			<string>eBook</string>
			<string>software</string>
			<string>software-update</string>
			<string>podcast-episode</string>
		</array>
		<key>AppleKeyboards</key>
		<array>
			<string>en_US@sw=QWERTY;hw=Automatic</string>
			<string>emoji@sw=Emoji</string>
			<string>com.baidu.inputMethod.keyboard</string>
			<string>app.cyan.jsbox.key</string>
		</array>
		<key>AppleKeyboardsExpanded</key>
		<integer>1</integer>
		<key>AppleLanguages</key>
		<array>
			<string>zh-Hans-CN</string>
			<string>en-CN</string>
		</array>
		<key>AppleLanguagesDidMigrate</key>
		<string>16A366</string>
		<key>AppleLocale</key>
		<string>zh_CN</string>
		<key>ApplePasscodeKeyboards</key>
		<array>
			<string>zh_Hans-Pinyin@sw=Pinyin-Simplified;hw=Automatic</string>
			<string>zh_Hans-Pinyin@sw=Pinyin10-Simplified;hw=Automatic</string>
			<string>emoji@sw=Emoji</string>
			<string>en_US@hw=Automatic;sw=QWERTY</string>
		</array>
		<key>INNextFreshmintRefreshDateKey</key>
		<real>563125393.43130195</real>
		<key>INNextHearbeatDate</key>
		<real>563131873.58624101</real>
		<key>NSAllowsDefaultLineBreakStrategy</key>
		<true/>
		<key>NSInterfaceStyle</key>
		<string>macintosh</string>
		<key>NSLanguages</key>
		<array>
			<string>zh-Hans-CN</string>
			<string>en-CN</string>
			<string>en</string>
		</array>
		<key>PKKeychainVersionKey</key>
		<integer>4</integer>
		<key>PreferredLanguages</key>
		<true/>
		<key>SeedGroup</key>
		<string>PublicBeta</string>
		<key>WebKitJSCFTLJITEnabledDefaultsKey</key>
		<true/>
		<key>WebKitJSCJITEnabledDefaultsKey</key>
		<true/>
		<key>WebKitNetworkCacheEfficacyLoggingEnabled</key>
		<false/>
		<key>WebKitNetworkCacheEnabled</key>
		<true/>
		<key>addins-installed</key>
		<integer>1</integer>
		<key>ascii-keyboard</key>
		<true/>
		<key>assist-auto-comp</key>
		<true/>
		<key>assist-module-comp</key>
		<true/>
		<key>assist-show-brackets</key>
		<true/>
		<key>assist-show-refs</key>
		<true/>
		<key>assist-show-type</key>
		<true/>
		<key>assist-syntax</key>
		<true/>
		<key>clear-before-running</key>
		<true/>
		<key>codekit-scripts-version</key>
		<string>v4</string>
		<key>com.apple.content-rating.AppRating</key>
		<integer>1000</integer>
		<key>com.apple.content-rating.ExplicitBooksAllowed</key>
		<true/>
		<key>com.apple.content-rating.ExplicitMusicPodcastsAllowed</key>
		<true/>
		<key>com.apple.content-rating.MovieRating</key>
		<integer>1000</integer>
		<key>com.apple.content-rating.TVShowRating</key>
		<integer>1000</integer>
		<key>dark-keyboard</key>
		<true/>
		<key>debug-mode</key>
		<false/>
		<key>default-snippets-version</key>
		<string>v3</string>
		<key>defaults-to-action</key>
		<true/>
		<key>defaults-to-keyboard</key>
		<true/>
		<key>defaults-to-widget</key>
		<true/>
		<key>editor-font-size</key>
		<integer>14</integer>
		<key>editor-previewing</key>
		<false/>
		<key>editor-theme</key>
		<string></string>
		<key>editor_font</key>
		<string>Menlo</string>
		<key>fc_uuidForDevice</key>
		<string>140e5625a5f7437d87c16d79024012be</string>
		<key>fc_uuidsOfUserDevices</key>
		<string>140e5625a5f7437d87c16d79024012be</string>
		<key>ghost-mode</key>
		<true/>
		<key>invoker-mode</key>
		<true/>
		<key>invoker-mode-ii</key>
		<true/>
		<key>invoker-mode-iii</key>
		<true/>
		<key>keyboard-view-height</key>
		<integer>267</integer>
		<key>modules-installed</key>
		<integer>1</integer>
		<key>modules-version</key>
		<string>v2</string>
		<key>offline-docs-version</key>
		<string>v51</string>
		<key>onboard-welcome</key>
		<integer>0</integer>
		<key>playground-addin</key>
		<string>宁静之地</string>
		<key>search-tip-count</key>
		<integer>5</integer>
		<key>show-editor-tip</key>
		<integer>0</integer>
		<key>show-line-numbers</key>
		<true/>
		<key>show-playground-tip</key>
		<integer>0</integer>
		<key>show-toolbar-tip</key>
		<integer>0</integer>
		<key>shows-minimap</key>
		<true/>
		<key>shows-output-bar</key>
		<true/>
		<key>taptic-engine</key>
		<false/>
		<key>user-hits-modify-addin</key>
		<integer>4</integer>
		<key>user-hits-run-addin</key>
		<integer>0</integer>
		<key>user-last-review-time</key>
		<real>1548400748.838491</real>
		<key>widget-lines</key>
		<integer>7</integer>
		<key>widget-rows</key>
		<integer>7</integer>
		<key>widget-view-height</key>
		<integer>220</integer>
		<key>widget-view-height-ii</key>
		<integer>220</integer>
		<key>widget-view-height-iii</key>
		<integer>220</integer>
	</dict>
	<key>groups</key>
	<dict>
		<key>AKDeviceUnlockState</key>
		<true/>
		<key>AKLastCheckInAttemptDate</key>
		<date>2018-11-06T06:17:50Z</date>
		<key>AKLastCheckInSuccessDate</key>
		<date>2018-11-06T06:17:51Z</date>
		<key>AKLastEmailListRequestDateKey</key>
		<date>2018-11-05T17:15:27Z</date>
		<key>AKLastIDMSEnvironment</key>
		<integer>0</integer>
		<key>AddingEmojiKeybordHandled</key>
		<true/>
		<key>AppleICUForce24HourTime</key>
		<true/>
		<key>AppleITunesStoreItemKinds</key>
		<array>
			<string>podcast</string>
			<string>artist</string>
			<string>itunes-u</string>
			<string>booklet</string>
			<string>document</string>
			<string>movie</string>
			<string>eBook</string>
			<string>software</string>
			<string>software-update</string>
			<string>podcast-episode</string>
		</array>
		<key>AppleKeyboards</key>
		<array>
			<string>en_US@sw=QWERTY;hw=Automatic</string>
			<string>emoji@sw=Emoji</string>
			<string>com.baidu.inputMethod.keyboard</string>
			<string>app.cyan.jsbox.key</string>
		</array>
		<key>AppleKeyboardsExpanded</key>
		<integer>1</integer>
		<key>AppleLanguages</key>
		<array>
			<string>zh-Hans-CN</string>
			<string>en-CN</string>
		</array>
		<key>AppleLanguagesDidMigrate</key>
		<string>16A366</string>
		<key>AppleLocale</key>
		<string>zh_CN</string>
		<key>ApplePasscodeKeyboards</key>
		<array>
			<string>zh_Hans-Pinyin@sw=Pinyin-Simplified;hw=Automatic</string>
			<string>zh_Hans-Pinyin@sw=Pinyin10-Simplified;hw=Automatic</string>
			<string>emoji@sw=Emoji</string>
			<string>en_US@hw=Automatic;sw=QWERTY</string>
		</array>
		<key>INNextFreshmintRefreshDateKey</key>
		<real>563125393.43130195</real>
		<key>INNextHearbeatDate</key>
		<real>563131873.58624101</real>
		<key>NSAllowsDefaultLineBreakStrategy</key>
		<true/>
		<key>NSInterfaceStyle</key>
		<string>macintosh</string>
		<key>NSLanguages</key>
		<array>
			<string>zh-Hans-CN</string>
			<string>en-CN</string>
			<string>en</string>
		</array>
		<key>PKKeychainVersionKey</key>
		<integer>4</integer>
		<key>PreferredLanguages</key>
		<true/>
		<key>SeedGroup</key>
		<string>PublicBeta</string>
		<key>WebKitJSCFTLJITEnabledDefaultsKey</key>
		<true/>
		<key>WebKitJSCJITEnabledDefaultsKey</key>
		<true/>
		<key>WebKitNetworkCacheEfficacyLoggingEnabled</key>
		<false/>
		<key>WebKitNetworkCacheEnabled</key>
		<true/>
		<key>ascii-keyboard</key>
		<true/>
		<key>assist-auto-comp</key>
		<true/>
		<key>assist-module-comp</key>
		<true/>
		<key>assist-show-brackets</key>
		<true/>
		<key>assist-show-refs</key>
		<true/>
		<key>assist-show-type</key>
		<true/>
		<key>assist-syntax</key>
		<true/>
		<key>clear-before-running</key>
		<true/>
		<key>com.apple.content-rating.AppRating</key>
		<integer>1000</integer>
		<key>com.apple.content-rating.ExplicitBooksAllowed</key>
		<true/>
		<key>com.apple.content-rating.ExplicitMusicPodcastsAllowed</key>
		<true/>
		<key>com.apple.content-rating.MovieRating</key>
		<integer>1000</integer>
		<key>com.apple.content-rating.TVShowRating</key>
		<integer>1000</integer>
		<key>dark-keyboard</key>
		<true/>
		<key>debug-mode</key>
		<false/>
		<key>defaults-to-action</key>
		<true/>
		<key>defaults-to-keyboard</key>
		<true/>
		<key>defaults-to-widget</key>
		<true/>
		<key>editor-filter</key>
		<string>常用脚本</string>
		<key>editor-font-size</key>
		<integer>14</integer>
		<key>editor-theme</key>
		<string>atom-one-light</string>
		<key>editor_font</key>
		<string>Menlo</string>
		<key>ghost-mode</key>
		<true/>
		<key>invoker-mode</key>
		<true/>
		<key>invoker-mode-ii</key>
		<true/>
		<key>invoker-mode-iii</key>
		<false/>
		<key>keyboard-view-height</key>
		<integer>267</integer>
		<key>keyboard-view-script-v1</key>
		<string>Morse Code</string>
		<key>launcher-stored-height</key>
		<real>266</real>
		<key>launcher-stored-mode</key>
		<integer>1</integer>
		<key>show-line-numbers</key>
		<true/>
		<key>shows-minimap</key>
		<true/>
		<key>shows-output-bar</key>
		<true/>
		<key>syncing-content-height</key>
		<real>110</real>
		<key>taptic-engine</key>
		<false/>
		<key>theme-color</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
		VCR0b3ASAAGGoKMHCBlVJG51bGzYCQoLDA0ODxAREhMUFRYXGF8QFVVJQ29s
		b3JDb21wb25lbnRDb3VudFdVSUdyZWVuVlVJQmx1ZVdVSUFscGhhVU5TUkdC
		ViRjbGFzc1VVSVJlZFxOU0NvbG9yU3BhY2UQBCI+/Pz9Ij97+/wiP4AAAE8Q
		EjAuMDgyNCAwLjQ5NCAwLjk4NIACIj2oqKkQAtMaGxwdHiBaJGNsYXNzbmFt
		ZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNvbG9yoh0fWE5TT2JqZWN0oSFX
		TlNDb2xvcl8QD05TS2V5ZWRBcmNoaXZlctEkJVRyb290gAEACAARABoAIwAt
		ADIANwA7AEEAUgBqAHIAeQCBAIcAjgCUAKEAowCoAK0AsgDHAMkAzgDQANcA
		4gDrAPcA/wECAQsBDQEVAScBKgEvAAAAAAAAAgEAAAAAAAAAJgAAAAAAAAAA
		AAAAAAAAATE=
		</data>
		<key>widget-lines</key>
		<integer>5</integer>
		<key>widget-rows</key>
		<integer>5</integer>
		<key>widget-stored-height</key>
		<real>110</real>
		<key>widget-stored-height-ii</key>
		<real>110</real>
		<key>widget-stored-height-iii</key>
		<real>110</real>
		<key>widget-stored-mode</key>
		<integer>0</integer>
		<key>widget-stored-mode-ii</key>
		<integer>0</integer>
		<key>widget-stored-mode-iii</key>
		<integer>0</integer>
		<key>widget-view-height</key>
		<integer>220</integer>
		<key>widget-view-height-ii</key>
		<integer>220</integer>
		<key>widget-view-height-iii</key>
		<integer>220</integer>
		<key>widget-view-script</key>
		<string>F-Start v1.7</string>
		<key>widget-view-script-ii</key>
		<string>Tool Box</string>
		<key>widget-view-script-iii</key>
		<string>Launch Center</string>
	</dict>
</dict>
</plist>
